@import "../../../styles.scss";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #000000;
  padding: 1rem 2rem;
  border-bottom: 2px solid $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .left {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 0.2rem;

    .logo {
      font-family: $font-heading;
      font-size: 1.8rem;
      color: $color-primary;
      cursor: pointer;

      &:hover {
        color: $color-hover;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1rem;

      li a {
        font-weight: bold;
        color: $color-secondary;

        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .search-bar {
      height: 2rem;
      width: 10rem;
    }

    .login-btn {
      background-color: transparent;
      color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 4px;
      padding: 0.4rem 0.8rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: black;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    .left {
      flex-direction: column;
      gap: 1rem;
    }

    .right {
      justify-content: space-between;
      margin-top: 1rem;
    }

    .login-btn {
      margin-left: auto;
    }
  }
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: $color-primary;
  cursor: pointer;
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .left {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hamburger {
        display: inline;
      }

      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;

        li {
          padding: 0.1rem 0;
        }
      }

      .nav-links.open {
        display: flex;
      }
    }

    .right {
      margin: 0 auto;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}
