@import "../../../styles.scss";

.home-carousel-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .hero-card {
    scroll-snap-align: start;
    flex: 0 0 100vw;
    height: 75vh;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    flex: 0 0 80vw;
    max-width: 80vw;

    .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      color: $color-primary;
      padding: 2rem;

      h2 {
        font-family: $font-heading;
        font-size: 4.5rem;
        margin: 0;
      }
    }

    &:hover .overlay {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    }
  }

  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: $color-primary;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
    transition: background 0.3s ease;

    &.left {
      left: 0.5rem;
    }

    &.right {
      right: 0.5rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  @media (max-width: 600px) {
    .hero-card {
      height: 70vh;

      .overlay {
        padding: 1rem;

        h2 {
          font-size: 2.8rem;
        }
      }
    }
  }
}
