<div class="people-list-container">
    <h1 class="list-title">{{ title }}</h1>

    <app-filter (searchTerm)="onSearch($event)"></app-filter>

    <div class="grid">
        <app-card *ngFor="let item of items" [name]="item.name" [uid]="item.uid"
            [resourceType]="resourceType"></app-card>
    </div>

    <div class="pagination" *ngIf="showPagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
            ❮ Prev
        </button>

        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
            Next ❯
        </button>
    </div>
</div>